/* jbeardllc.com */
body {
    background: #4C5C5E;
}

div #main {
    margin-top: 200px;
}

div #header {
    margin: 0 auto;
    max-width: 500px;
    background: #9A9DAF;
    color: #F0EFF0;
    text-align: center;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div #content {
    margin: 0 auto;
    max-width: 500px;
    color: #F0EFF0;
    text-align: center;
    padding: 12px;
    background: #BBA67C;
}

div #email {
    font-family: 'Courier New', Courier, monospace;
}
